* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #0f1b4c;
}

body {
  font-size: 1.6rem;
  /* font-family: ; */
}

/* ========== common============ */
.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 98px;
  background: #0f1b4c;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  padding: 18px 16px;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* ==========header========= */
.fixed-header {
  background-color: #e6f0ff;
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 2;
}
.header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  /* padding-top: 38px; */
  padding: 12px 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  margin-left: 64px;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--primary-color);
  padding: 8px 14px;
}

.navbar .acsion {
  margin-left: auto;
}

.navbar .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-right: 18px;
}

.navbar .action-btn {
  padding: 13px 16px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.hero {
  padding-top: 130px;
}
.hero .info {
  width: 51%;
}
.hero .sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}
.hero .title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 76px;
  color: #000336;
  margin-top: 8px;
  margin-bottom: 30px;
}
.hero .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 32px;
  color: #5a6473;
  margin-bottom: 40px;
}
.hero .hero-cta {
  min-width: 170px;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* ============== client ============== */
.client {
  margin-top: 79px;
  padding: 43px 0 41px 0;
}
.client .row {
  display: flex;
  justify-content: space-between;
}
.client .row-desc {
  margin-top: 23px;
}

.client .desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 20px;
  color: #7d8589;
}

.client .image {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client .image a {
  padding: 0 42px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.client .image a:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ================ guides=============== */
.guides {
  margin-top: 40px;
  padding: 93px 0 79px 0;
}

.guides .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 35px;
  text-align: center;
  color: #000339;
}
.guides .sub-title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  text-align: center;
  color: #5a6473;
  margin: 20px auto 0;
  width: 460px;
  max-width: 100%;
}

.list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.guide-item {
  margin: 0 70px;
  text-align: center;
}
.icon {
}
.guide-item .title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 22px;
  color: #3b3c45;
  margin-bottom: 10px;
}
.guide-item .link {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #0689ff;
}
.guide-item .arrow {
  margin-left: 8px;
}

.guides .guide-cta {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guide-cta .btn {
  min-width: 170px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 20px;
  text-align: center;
  border-radius: 12px;
  color: #ffffff;
}

/* ============== featured =========== */
.featured {
  margin-top: 41px;
  background-color: #f5fafe;
  padding: 110px 0;
}

.featured .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 35px;
  color: #000339;
}
.featured .row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.featured .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  color: #5a6473;
}

.featured .link {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 27px;
  color: #0689ff;
}
.featured .link .icon {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #000339;
}

.featured .item .desc {
  --line-clamp: 3;
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 21px;
  color: #a3a6ab;
  word-break: break-all;
}

.featured .item .info {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.featured .item .label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #4d4d52;
  margin-left: 8px;
}

.featured .item .icon {
  margin-left: 23px;
}

/* ================ stats ================== */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .row {
  display: flex;
}

.stats .container {
  width: 1018px;
}

.stats .img-block,
.stats .info {
  width: 50%;
}
.stats .img-block {
  position: relative;
}
.starts-trend {
  width: 239px;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
  padding: 45px 22px;
}
.starts-trend .row {
  display: flex;
  justify-content: space-between;
}
.avatar-block {
  margin-top: 36px;
  display: flex;
  gap: 16px 14px;
  flex-wrap: wrap;
}
.avatar-group {
  display: flex;
}
.avatar-group .avatar {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-group .avatar:first-child {
  margin-left: 0px;
}

.starts-trend .value {
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: 0.01em;
  color: #000339;
}
.starts-trend .desc {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  color: #a7a7a7;
}

.starts-trend .separte {
  margin-top: 25px;
  height: 1.2px;
  background: #e9e9e9;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info {
  padding: 79px 0 0 165px;
}
.stats .sub-title {
  width: 269px;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 45px;
  color: #000339;
  position: relative;
}

.stats .sub-title::before {
  content: "";
  display: block;
  background: #000339;
  border-radius: 12px;
  width: 41px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 0;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  /* or 188% */

  color: #5a6473;
}

.stats .row-qty {
  margin-top: 110px;
  justify-content: space-between;
  padding: 0 32px;
}

.stats .qty {
  font-style: normal;
  font-weight: 600;
  font-size: 6.4rem;
  color: #000000;
}

.stats .qty-desc {
  margin-top: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 27px;
  color: #7b8087;
}

/* =========subcription======= */
.subcription {
  margin-top: 90px;
}

.subcription .body {
  align-items: center;
  height: 370px;
  background: #063183;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.subcription .info {
  width: 671px;
  max-width: 100%;
  padding: 0 80px;
}

.subcription .sub-title {
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
}
.subcription .desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #ffffff;

  opacity: 0.75;
}

.subcription .btn {
  margin-top: 20px;
  min-width: 151px;
  background-color: #fff;
  color: #002366;
}

.subcription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* =============== footer ======== */

.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}

.footer .heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #1c1c1d;
}

.footer .list,
.footer .desc {
  margin-top: 42px;
}

.footer .item {
  margin-top: 18px;
}

.footer .item a,
.footer .desc {
  font-weight: 400;
  font-size: 1.6rem;
  color: #7a7a7e;
  white-space: nowrap;
}

.footer .desc {
  white-space: normal;
  line-height: 1.75;
}

.footer .social {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

.footer .social-link {
  width: 28px;
  height: 28px;
}

.footer .row-botom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 81px;
}

.footer .copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: #c2c2c2;
}
